html{
    font-size: 16px;
}
body{
    background-color: #121212;
    font-size: 1rem;
    overflow-x: hidden;
    font-family: Verdana, sans-serif;
}

a:hover .btn-group { text-decoration: none }
a .btn-group:hover { text-decoration: none }
a:hover .btn-group .btn { text-decoration: none }
a .btn-group .btn:hover { text-decoration: none }

/* Header */

.header_container{
    width: 100%;
    background-color: #232323;
    box-shadow: 0 0 10px rgba(37, 37, 37, 0.9);
}
.header_col{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    font-size: 1.6rem;
    border-left: 1px solid #898989;
    transition: 0.5s;
}
a.header_title{
    width: 100%;
    text-align: center;
    text-decoration: none;
    transition: 1s;
    color: rgb(216, 208, 208);
}
a.header_title:hover{
    color: white;
}
/* Main */
.main_container{
    width: 70%;
    color: white;
    margin: 5vh auto;
    padding-top: 5vh;
    background: #232323;
    border-left: 1px solid white; 
    border-right: 1px solid white; 
}
.row_container{
    width: 100%;
    height: 100%;
    padding-top: 5vh auto;
}
.main_row{
    width: 100%;
    margin: 0 auto;
}
.main_card{
    width: 30%;
    height: 50vh;
    /* background-color: olivedrab; */
}
.main_card_image{
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 60%;
    box-shadow: 0 0 10px rgba(0,0,0,0.9);
}
#mci1{
    background-image: url(../img/plane1.jpg);
}
#mci2{
    background-image: url(../img/plane2.jpg);
}
#mci3{
    background-image: url(../img/plane3.jpg);
}
#mci4{
    background-image: url(../img/plane4-n.jpg);
}
#mci5{
    background-image: url(../img/plane5.jpg);
}
#mci6{
    background-image: url(../img/plane6.jpg);
}
#mci7{
    background-image: url(../img/plane7.jpg);
}
#mci8{
    background-image: url(../img/plane8-n.jpg);
}
#mci9{
    background-image: url(../img/plane9-n.jpg);
}
/* carousel begin */
.carousel_wrapper{
    width: 80%;
    margin: 5vh auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.9);
}
.carousel-inner img {
    width: 100%;
    margin: 0 auto;
}
.carousel-indicators{
    width: 100%;
    margin: 0 auto;
}
.carousel-item{
    width: 100%;
    margin: 0 auto;
}
.carousel-caption{
    color: #000000;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  background-image: none;
}
.carousel-indicators li{
    display: inline-block;
    text-indent: 0;
    cursor: pointer;
    background-color: #000000;
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5); 
}
.carousel-control-next-icon:after
{
  content: '>';
  font-size: 3rem;
  color: black;
}
.carousel-control-prev-icon:after {
  content: '<';
  font-size: 3rem;
  color: black;
}
/* carousel end */



/* Footer */
.footer_container{
    width: 100%;
    height: 50vh;
    position: relative;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.footer_white{
    background-color: azure;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.6;
}
.footer_image{
    background-image: url(../img/footer_image_2.jpg) ;
    width: 100%;
    height: 100%;
    background-size: cover;
    opacity: 1;
}
.footer_articl{
    display: inline-block;
    width: 100%;
    height: 20%;
    opacity: 1;
}

/* Media */

@media screen and (max-width: 700px) {
    .header_col{
        font-size: 0.9rem;
    }
}