/* Main */
.main_container{
    width: 70%;
    color: white;
    margin: 5vh auto;
    padding-top: 5vh;
    background: #232323;
    border-left: 1px solid #898989;
    border-right: 1px solid #898989;
}
.row_container{
    width: 100%;
    height: 100%;
    padding-top: 5vh auto;
}
.main_row{
    width: 100%;
    margin: 0 auto;
}
.main_card{
    width: 30%;
    height: 50vh;
    /* background-color: olivedrab; */
}
.main_card_image{
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 60%;
    box-shadow: 0 0 10px rgba(0,0,0,0.9);
}
.main_card_image img{
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}
/* #mci1{
    background-image: url(https://s7d5.scene7.com/is/image/horizonhobby/HBZ3200_a0);
}
#mci2{
    background-image: url(../img/plane2.jpg);
}
#mci3{
    background-image: url(../img/plane3.jpg);
}
#mci4{
    background-image: url(../img/plane4-n.jpg);
}
#mci5{
    background-image: url(../img/plane5.jpg);
}
#mci6{
    background-image: url(../img/plane6.jpg);
}
#mci7{
    background-image: url(../img/plane7.jpg);
}
#mci8{
    background-image: url(../img/plane8-n.jpg);
}
#mci9{
    background-image: url(../img/plane9-n.jpg);
} */

/* carousel begin */
.carousel_wrapper{
    width: 80%;
    margin: 5vh auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.9);
}
.carousel-inner img {
    width: 100%;
    margin: 0 auto;
}
.carousel-indicators{
    width: 100%;
    margin: 0 auto;
}
.carousel-item{
    width: 100%;
    margin: 0 auto;
}
.carousel-caption{
    color: #000000;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  background-image: none;
}
.carousel-indicators li{
    display: inline-block;
    text-indent: 0;
    cursor: pointer;
    background-color: #000000;
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5); 
}
.carousel-control-next-icon:after
{
  content: '>';
  font-size: 3rem;
  color: black;
}
.carousel-control-prev-icon:after {
  content: '<';
  font-size: 3rem;
  color: black;
}
/* carousel end */
